<!-- eslint-disable vue/multi-word-component-names -->
<!-- eslint-disable vue/no-multiple-template-root -->
<template>
  <el-menu
    background-color="#18304e"
    text-color="#fff"
    unique-opened
    ref="menu"
    @open="open"
    :collapse="!isExpand"
  >
    <router-link to="/" class="header-title" @click="handleHeaderClick">
      <i v-if="!isExpand" class="el-icon-s-home"></i>
      <span v-else>mega7</span>
    </router-link>
    <el-submenu
      class="submenu"
      v-for="(item, index) in filteredAsyncRoutes"
      :key="index"
      :index="item.index"
    >
      <template slot="title">
        <i :class="item.iconClass"></i>
        <span slot="title" v-show="isExpand">{{ item.title }}</span>
      </template>
      <el-menu-item
        class="menu-item"
        v-for="(subItem, subIndex) in item.children"
        :key="subIndex"
        :index="subItem.index"
        @click="handleRouterLinkClick(item, subItem)"
      >
        {{ subItem.title }}
      </el-menu-item>
    </el-submenu>
  </el-menu>
</template>

<script>
import {
  defineComponent,
  ref,
  reactive,
  onMounted,
  nextTick,
  computed,
} from 'vue'
import router, { asyncRoutes } from '@/router'

export default defineComponent({
  props: {
    isExpand: Boolean,
  },
  setup(props, { emit }) {
    const data = reactive({
      menu: ref(null),
      activeSubMenu: null,
      arrowIconList: [],
    })
    const filteredAsyncRoutes = computed(() => {
      return asyncRoutes
        .filter((route) => !route.meta?.hidden)
        .map((route) => {
          const filteredChildren =
            route.children?.filter((child) => !child.meta?.hidden) || []
          return { ...route, children: filteredChildren }
        })
    })

    const handleHeaderClick = () => {
      emit('headerClick')
    }

    const open = (index) => {
      emit('toggleMenu', true)
      data.activeSubMenu = index
    }
    const handleRouterLinkClick = (item, subItem) => {
      const fullPath = `${item.path}/${subItem.path}`
      router.push(fullPath)
      emit('routerLinkClick', { fullPath, item })
    }
    onMounted(() => {
      nextTick(() => {
        data.menu = ref('menu').value
      })
    })
    return {
      asyncRoutes,
      filteredAsyncRoutes,
      handleHeaderClick,
      open,
      handleRouterLinkClick,
    }
  },
})
</script>

<style lang="scss" scoped>
.el-menu {
  height: 100vh;
}
.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
  background-color: #113d65;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);

  &:hover {
    color: #409eff;
  }

  .menu-item {
    background-color: #141828;
    &:hover {
      font-weight: bold;
    }
  }
}
</style>
