<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div class="login">
    <form class="login-form">
      <h1 class="login-form_title">mega7</h1>
      <div class="login-form_row">
        <input-text
          v-model="formData.account"
          :type="'text'"
          :placeholder="'請輸入帳號'"
          :size="'medium'"
          @update:modelValue="onChildValueAccount"
        >
          <template v-slot:label>
            <span>帳號</span>
          </template></input-text
        >
      </div>
      <div class="login-form_row">
        <input-text
          v-model="formData.password"
          :type="'password'"
          :placeholder="'請輸入密碼'"
          :size="'medium'"
          @update:modelValue="onChildValuePassword"
        >
          <template v-slot:label>
            <span>密碼</span>
          </template></input-text
        >
      </div>
      <div class="login-form_row_checkbox">
        <input v-model="isRemember" type="checkbox" id="remember" />
        <label for="remember">記住我的登入</label>
      </div>
      <BaseButton
        class="login-form_submit"
        @click="submitLogin"
        :label="'登入'"
        :type="'primary'"
      />
      <BaseButton class="alternate-url-button" :label="'備用網址'">
        <i class="mdi mdi-earth" style="color: #409efe; font-size: 16px"></i>
      </BaseButton>
    </form>
  </div>
</template>

<script>
import AuthResource from '@/api/restful/auth'
import router from '@/router'
import { defineComponent, ref } from 'vue'

export default defineComponent({
  // eslint-disable-next-line vue/multi-word-component-names
  name: 'login',
  setup() {
    const formData = ref({
      account: '',
      password: '',
      ip: '',
    })
    const isRemember = ref(false)

    const submitLogin = async () => {
      const authResource = new AuthResource()
      try {
        const response = await authResource.login(formData.value)
        if (response.code === '1') {
          localStorage.setItem('apiToken', response.result.api_token)
          router.push('/')
        }
      } catch (error) {
        console.error('登入失敗:', error)
      }
    }

    const onChildValueAccount = (value) => {
      formData.value.account = value
      return
    }
    const onChildValuePassword = (value) => {
      formData.value.password = value
      return
    }

    return {
      formData,
      isRemember,
      submitLogin,
      onChildValueAccount,
      onChildValuePassword,
    }
  },
})
</script>

<style lang="scss" scoped>
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  color: #fff;
  background-image: linear-gradient(45deg, #6e436c 25%, #2a4584 75%);
  background-repeat: no-repeat;
  background-size: cover;
}

.login-form {
  position: relative;
  padding: 1rem;
  width: 320px;
  max-width: 320px;
}

.login-form_title {
  text-align: center;
}

.login-form_submit,
.alternate-url-button {
  margin-bottom: 1rem;
}

.login-form_row_checkbox {
  margin-bottom: 1rem;
  label {
    margin-left: 0.5rem;
  }
}
</style>
