<template>
  <div class="section">
    <div class="slots-container">
      <template v-if="$slots.label">
        <slot name="label" :bind="$slots.label"></slot>
      </template>

      <template v-if="$slots.prefix">
        <slot name="prefix" :bind="$slots.prefix"></slot>
      </template>

      <template v-if="$slots.suffix">
        <slot name="suffix" :bind="$slots.suffix"></slot>
      </template>

      <template v-if="$slots.prepend">
        <slot name="prepend" :bind="$slots.prepend"></slot>
      </template>

      <template v-if="$slots.append">
        <slot name="append" :bind="$slots.append"></slot>
      </template>
    </div>
    <div class="input-container">
      <el-select v-model="valueObject.value" placeholder="請選擇">
        <el-option
          v-for="item in valueObject"
          :key="item.value"
          :label="item.label"
          :value="item.value"
          :disabled="disable"
        >
        </el-option>
      </el-select>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    value: {
      type: Array,
      default: () => [],
    },
    disable: {
      type: Boolean,
    },
  },
  setup(props) {
    return {
      valueObject: props.value,
    }
  },
})
</script>

<style lang="scss" scoped>
.section {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.slots-container {
  padding-bottom: 1rem;
  font-size: 14px;
}
</style>
