<!-- eslint-disable vue/valid-v-slot -->
<template>
  <div class="section">
    <div class="slots-container">
      <slot name="label"></slot>
      <slot name="prefix"></slot>
      <slot name="suffix"></slot>
      <slot name="prepend"></slot>
      <slot name="append"></slot>
    </div>
    <div class="input-container">
      <el-input
        v-model="observeValue"
        @input="$emit('modelValue', $event)"
        :type="type"
        :placeholder="placeholder"
        :disabled="disable"
        :class="{ medium: size === 'medium', small: size === 'small' }"
      />
    </div>
  </div>
</template>

<script>
import { computed, defineComponent } from 'vue'

export default defineComponent({
  props: {
    value: { type: String },
    type: { type: String },
    placeholder: { type: String, default: '請輸入' },
    size: {
      type: String,
      default: 'medium',
      validator: (value) => ['medium', 'small'].includes(value),
    },
    disable: {
      type: Boolean,
    },
  },
  emits: ['update:modelValue'],

  setup(props, { emit }) {
    const observeValue = computed({
      get() {
        return props.value
      },
      set(value) {
        if (value !== props.value) {
          emit('update:modelValue', value)
        }
      },
    })
    return {
      observeValue,
    }
  },
})
</script>

<style lang="scss" scoped>
.section {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.slots-container {
  padding-bottom: 1rem;
  font-size: 14px;
}

.input-container {
  input {
    border-radius: 5px;
    &.medium {
      height: 36px;
    }

    &.small {
      height: 32px;
    }
  }
}
</style>
