<template>
  <div class="section">
    <div class="slots-container">
      <slot name="label"></slot>

      <slot name="prefix"></slot>

      <slot name="suffix"></slot>

      <slot name="prepend"></slot>

      <slot name="append"></slot>
    </div>
    <div class="input-container">
      <el-date-picker
        v-model="value"
        type="datetimerange"
        range-separator="至"
        start-placeholder="開始日期"
        end-placeholder="結束日期"
        align="right"
        @change="handleChange"
      >
      </el-date-picker>
    </div>
  </div>
</template>

<script>
import { defineComponent, ref, watch } from 'vue'

export default defineComponent({
  props: {
    modelValue: {
      type: Array,
      default: () => [],
    },
  },
  setup(props, { emit }) {
    const value = ref(props.modelValue)

    watch(
      () => props.modelValue,
      (newValue) => {
        value.value = newValue
      }
    )

    const handleChange = (newValue) => {
      emit('update:modelValue', newValue)
    }

    return {
      value,
      handleChange,
    }
  },
})
</script>

<style lang="scss" scoped>
.section {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.slots-container {
  padding-bottom: 1rem;
  font-size: 14px;
}
</style>
