<template>
  <el-button @click="handleClick">{{ label }}</el-button>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    label: { type: String },
  },
  setup(props, { emit }) {
    const handleClick = () => {
      emit('click')
    }

    return {
      handleClick,
    }
  },
})
</script>
