<template>
  <div class="section">
    <div class="button-container">
      <el-switch
        v-model="internalValue"
        :active-text="activeText"
        :inactive-text="inactiveText"
        @change="handleChange"
      >
      </el-switch>
    </div>
  </div>
</template>

<script>
import { defineComponent, ref, watch } from 'vue'

export default defineComponent({
  props: {
    activeText: {
      type: String,
    },
    inactiveText: {
      type: String,
    },
    switchValue: {
      type: Boolean,
    },
  },
  setup(props, { emit }) {
    const internalValue = ref(props.switchValue)

    watch(
      () => props.switchValue,
      (newValue) => {
        internalValue.value = newValue
      }
    )

    const handleChange = (newValue) => {
      emit('update:switchValue', newValue)
    }

    return {
      internalValue,
      handleChange,
    }
  },
})
</script>
