<template>
  <div>
    <el-tabs
      type="card"
      closable
      @tab-remove="handleCloseTab"
      v-if="selectedTab.item && selectedTab.item.children"
    >
      <el-tab-pane
        v-for="(childArray, arrayIndex) in selectedTab.item.children"
        :key="arrayIndex"
        :label="childArray.title"
      >
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>{{ selectedTab.item.title }}</el-breadcrumb-item>
          <el-breadcrumb-item>{{ childArray.title }}</el-breadcrumb-item>
        </el-breadcrumb>
        <el-divider />
        <router-view></router-view>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    selectedTab: {
      type: Object,
      default: () => ({}),
    },
  },
  setup(props, { emit }) {
    const handleCloseTab = () => {
      emit('close-tab')
    }

    return {
      handleCloseTab,
    }
  },
})
</script>

<style lang="scss" scoped></style>
