<template>
  <section>
    <template v-if="!field.component || field.component === 'input'">
      <div class="content-label">
        <slot :name="`${field.prop}:title`" :field="field">
          <label>{{ field.label }}</label>
          <span v-if="field.rules?.required">{{ 必填 }}:</span>
        </slot>
        <slot :name="`${field.prop}:content`" :field="field">
          <el-input
            v-bind="field.componentAttrs"
            :type="field.type"
            :value="value"
            @input="updateHandler"
            :disabled="field.disabled"
            :clearable="field.clearable"
            :size="field.size ?? 'small'"
            :placeholder="field.placeholder ?? '請輸入'"
          ></el-input>
        </slot>
      </div>
    </template>

    <template v-else-if="field.component === 'select'">
      <div class="content-label">
        <slot :name="`${field.prop}:title`" :field="field">
          <label>{{ field.label }}</label>
          <span v-if="field.rules?.required">{{ 必填 }}:</span>
        </slot>
        <slot :name="`${field.prop}:content`" :field="field">
          <el-select
            v-bind="field.componentAttrs"
            :value="value"
            @change="(value) => updateHandler(value, 'change')"
            :disabled="field.disabled || field.loading"
            :clearable="field.clearable"
            :filterable="field.filterable"
            :size="field.size ?? 'small'"
            :placeholder="field.placeholder ?? '請選擇'"
          >
            <el-option
              v-for="option of setRefOption(field.options)"
              :key="option.value"
              :label="$t(option.label)"
              :value="option.value"
            ></el-option>
          </el-select>
        </slot>
      </div>
    </template>
  </section>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'field',

  props: {
    field: {
      type: { type: Object },
      required: true,
    },
    value: {
      required: true,
    },
  },

  emits: ['input', 'change'],

  setup(props, { emit }) {
    const updateHandler = (value, type = 'input') => {
      if (
        (props.field.component === 'input' || !props.field.component) &&
        props.field.type === 'number'
      ) {
        value = value.num()
      }
      emit(type, value)
    }

    return {
      updateHandler,
    }
  },
})
</script>
