<template>
  <div class="search-list">
    <template v-for="field of fields">
      <field-comp
        v-if="field?.visible || field?.visible === undefined"
        :value="value[field.prop]"
        @input="(value) => updateHandler(value, field.prop)"
        @change="(value) => updateHandler(value, field.prop)"
        :key="field.prop"
        :field="field"
      >
        <template v-slot:title="{ field }">
          <slot :name="`${field.prop}:title`" :field="field"></slot>
        </template>
        <template v-slot:content="{ field }">
          <slot :name="`${field.prop}:content`" :field="field"></slot>
        </template>
      </field-comp>
    </template>
    <div class="button-label">
      <el-button size="small" type="primary" @click="search">搜尋</el-button>
      <el-button size="small" @click="clear">清除</el-button>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import FieldComp from './Field.vue'
import { useRouter } from '@/use/useRouter'

export default defineComponent({
  name: 'mrc-search',

  components: {
    FieldComp,
  },

  props: {
    value: {
      type: Object,
      require: true,
    },
    fields: {
      type: Array,
      require: true,
    },
  },

  emits: ['search', 'clear', 'input', 'change'],

  setup(props, { emit }) {
    const { router, route } = useRouter()

    const checkRequire = (field) => {
      let isNotPass = false
      if (field?.rules?.required !== undefined) {
        if (typeof field.rules.required !== 'function') {
          console.error(
            'required rule need a function, please uses validate library'
          )
          return false
        }
        isNotPass = !field.rules.required(props.value[field.prop])
      } else isNotPass = isNotPass || false

      if (isNotPass) {
        setTimeout(() => {
          alert('內容輸入錯誤')
        }, 0)
        return false
      }
      return field
    }

    const search = () => {
      if (
        props.fields
          .filter((field) => field.visible !== false)
          .map(checkRequire)
          .some((field) => field === false)
      ) {
        return
      }
      emit('search')
    }

    const clear = () => {
      router.replace({ name: route.name })
      emit('clear')
    }

    const updateHandler = (value, prop) => {
      const emitData = {
        ...props.value,
        [prop]: value,
      }

      emit('input', emitData)
      emit('change', emitData)
    }

    return {
      search,
      clear,
      updateHandler,
    }
  },
})
</script>
