<template>
  <el-input v-bind="$attrs" v-on="$listeners" :placeholder="placeholder">
    <template v-if="$slots.prefix" slot="prefix">
      <slot name="prefix" v-bind="$slots.prefix"></slot>
    </template>
    <template v-if="$slots.suffix" slot="suffix">
      <slot name="suffix" v-bind="$slots.suffix"></slot>
    </template>
    <template v-if="$slots.prepend" slot="prepend">
      <slot name="prepend" v-bind="$slots.prepend"></slot>
    </template>
    <template v-if="$slots.append" slot="append">
      <slot name="append" v-bind="$slots.append"></slot>
    </template>
  </el-input>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'mrc-input',

  props: {
    placeholder: {
      type: String,
      default: '请输入',
    },
  },
  setup() {
    return {}
  },
})
</script>
