<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="referrer" content="unsafe-url">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <title>mega7</title>
    <style>
      *{
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <router-view>
        <div style="position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 999999; background-color: #fff; cursor: progress;"></div>
      </router-view>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
