<template>
  <div class="hall-sub-list">
    <div class="add-button">
      <router-link :to="{ name: 'hall-sub-create' }">
        <base-button
          :size="'medium'"
          :type="'primary'"
          :label="'新增'"
          style="width: 6rem"
        >
          <i class="el-icon-plus"></i>
        </base-button>
      </router-link>
    </div>
    <div class="table-container">
      <el-table
        :data="
          searchPerformed && searchResults.length === 0
            ? []
            : searchResults.length > 0
            ? searchResults
            : hallSubList.data
        "
        style="width: 100%"
        height="500"
      >
        <el-table-column
          v-for="{ prop, label, width } in tableFields"
          :key="prop"
          :prop="prop"
          :label="label"
          :width="width"
          height="250"
        />
        <el-table-column label="預設語系" width="180">
          <template v-slot="{ row }">
            <span>
              {{
                row.default_lang === 'zh-tw'
                  ? '繁體中文'
                  : row.default_lang === 'vi-vn'
                  ? 'Tiếng Việt'
                  : row.default_lang === 'zh-cn'
                  ? '简体中文'
                  : ''
              }}
            </span></template
          >
        </el-table-column>
        <el-table-column label="狀態" width="180">
          <template v-slot="{ row }">
            <span>
              <img
                v-if="row.status === 1"
                src="@/assets/image/icon-pass.svg"
                alt="啟用"
              />
              <img
                v-else-if="row.status === 4"
                src="@/assets/image/icon-waiting.svg"
                alt="處理中"
              />{{
                row.status === 1 ? ' 啟用' : row.status === 4 ? ' 處理中' : ''
              }}</span
            >
          </template>
        </el-table-column>
        <el-table-column
          v-for="{ prop, label, width } in timeFields"
          :key="prop"
          :prop="prop"
          :label="label"
          :width="width"
          height="250"
        />
        <el-table-column fixed="right" label="操作" width="200">
          <template>
            <router-link :to="{ name: 'hall-sub-edit' }">
              <el-button type="text" size="medium">編輯</el-button>
            </router-link>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <pagination :total="hallSubList.total" />
  </div>
</template>

<script>
import { defineComponent, ref, onMounted, watch } from 'vue'
import HallSubResource from '@/api/restful/hall-sub'

export default defineComponent({
  name: 'hall-sub-list',
  props: {
    searchResults: {
      type: Array,
      default: () => [],
    },
  },
  setup(props) {
    const hallSubResource = new HallSubResource()
    const tableFields = ref([
      { prop: 'account', label: '帳號', width: '180' },
      { prop: 'name', label: '名稱', width: '180' },
      { prop: 'hall_code', label: '站長代碼', width: '180' },
      { prop: 'currency', label: '幣別', width: '150' },
    ])
    const timeFields = ref([
      { prop: 'create_time', label: '創建時間', width: '180' },
    ])
    const hallSubList = ref([])
    const searchPerformed = ref(false)

    const fetchHallSubList = async () => {
      try {
        const response = await hallSubResource.getHallSubList()
        hallSubList.value = response.result
      } catch (error) {
        console.error('Failed to fetch hall sub list:', error)
      }
    }

    onMounted(fetchHallSubList)

    watch(
      () => props.searchResults,
      (newVal) => {
        if (newVal) {
          searchPerformed.value = true
        }
      }
    )

    return {
      tableFields,
      timeFields,
      hallSubList,
      searchPerformed,
    }
  },
})
</script>

<style lang="scss">
.table-container {
  position: sticky;
  top: 0;
  z-index: 100;
}
</style>
