<template>
  <div class="hall-sub-search-black">
    <div class="input-text">
      <input-text
        v-model="formData.account"
        @update:modelValue="onChildValueAccount"
        :size="'medium'"
        :type="'text'"
      >
        <template v-slot:label>
          <span>帳號</span>
        </template>
      </input-text>
    </div>
    <div class="input-text">
      <input-text
        v-model="formData.name"
        @update:modelValue="onChildValueName"
        :size="'medium'"
        :type="'text'"
      >
        <template v-slot:label>
          <span>名稱</span>
        </template>
      </input-text>
    </div>
    <div class="input-date-range">
      <input-date-range
        v-model="formData.dateRange"
        @update:modelValue="onChildValueDateRange"
      >
        <template v-slot:label>
          <span>創建時間</span>
        </template>
      </input-date-range>
    </div>
    <div class="input-text">
      <input-text
        v-model="formData.lower_layer_hall_code"
        @update:modelValue="onChildValueLowerLayerHallCode"
        :size="'medium'"
        :type="'text'"
      >
        <template v-slot:label>
          <span>站長代碼</span>
        </template>
      </input-text>
    </div>

    <div class="switch-button">
      <switch-button
        :switchValue="!!formData.is_blurry"
        :inactiveText="'模糊搜尋'"
        :activeText="'精準搜尋'"
        @click="handleSwitchClick"
        @update:switchValue="handleSwitchValueUpdate"
      />
    </div>
    <div class="button-area">
      <confirm-button
        :label="confirmButtonLabel"
        @click="searchHallSubList"
      ></confirm-button>
      <cancel-button
        :label="cancelButtonLabel"
        @click="clearForm"
      ></cancel-button>
    </div>
  </div>
</template>

<script>
import { defineComponent, ref } from 'vue'
import HallSubResource from '@/api/restful/hall-sub'

export default defineComponent({
  name: 'hall-sub-search',

  setup(props, { emit }) {
    const hallSubResource = new HallSubResource()
    const formData = ref({
      account: '',
      name: '',
      lower_layer_hall_code: '',
      is_blurry: 1,
      dateRange: {
        start_time: '',
        end_time: '',
      },
    })
    const confirmButtonLabel = ref('搜尋')
    const cancelButtonLabel = ref('清除')

    const onChildValueAccount = (value) => {
      formData.value.account = value
      return
    }

    const onChildValueName = (value) => {
      formData.value.name = value
      return
    }

    const onChildValueLowerLayerHallCode = (value) => {
      formData.value.lower_layer_hall_code = value
      return
    }

    const handleSwitchClick = () => {
      formData.value.is_blurry = formData.value.is_blurry === 0 ? 1 : 0
      return
    }

    const handleSwitchValueUpdate = (newValue) => {
      formData.value.is_blurry = newValue ? 0 : 1
      return
    }

    const onChildValueDateRange = (newValue) => {
      formData.value.dateRange.start_time = newValue[0]
      formData.value.dateRange.end_time = newValue[1]
      return
    }

    const searchHallSubList = async () => {
      try {
        const searchParams = {
          account: formData.value.account,
          name: formData.value.name,
          lower_layer_hall_code: formData.value.lower_layer_hall_code,
          is_blurry: formData.value.is_blurry,
          start_time: formData.value.dateRange.start_time,
          end_time: formData.value.dateRange.end_time,
        }
        const data = await hallSubResource.getHallSubList(searchParams)
        emit('search-completed', data.result.data)
      } catch (error) {
        console.error('Error during search:', error)
      }
    }

    const clearForm = () => {
      formData.value = {
        account: '',
        name: '',
        lower_layer_hall_code: '',
        is_blurry: 1,
        dateRange: {
          start_time: '',
          end_time: '',
        },
      }
    }

    return {
      formData,
      confirmButtonLabel,
      cancelButtonLabel,
      onChildValueAccount,
      onChildValueName,
      onChildValueLowerLayerHallCode,
      handleSwitchClick,
      handleSwitchValueUpdate,
      onChildValueDateRange,
      searchHallSubList,
      clearForm,
    }
  },
})
</script>

<style lang="scss" scoped>
.hall-sub-search-black {
  display: flex;
  flex-wrap: wrap;
}

.input-text,
.input-date-range,
.input-select,
.switch-button,
.button-area {
  padding: 0 20px 0 0;
}

.input-text {
  width: 15rem;
}

.input-select {
  .el-select {
    width: 15rem;
  }
}

.switch-button,
.button-area {
  display: flex;
  align-items: center;
  width: 15rem;
}
</style>
