<template>
  <hall-sub-detail :mode="'create'" />
</template>

<script>
import { defineComponent } from 'vue'
import HallSubDetail from './HallSubDetail.vue'

export default defineComponent({
  components: {
    HallSubDetail,
  },
})
</script>
