<template>
  <div class="hall-sub-dialog">
    <div class="confirm-button">
      <confirm-button :label="'保存更改'" />
    </div>
    <div class="input-text">
      <input-text :type="'text'" :size="'medium'" :disable="mode === 'edit'">
        <template v-slot:label>* 名稱</template>
      </input-text>
    </div>
    <div class="input-text">
      <input-text :type="'text'" :size="'medium'" :disable="mode === 'edit'">
        <template v-slot:label>* 國家地區</template>
      </input-text>
    </div>
    <div class="input-select">
      <input-select :type="'text'" :size="'medium'" :disable="mode === 'edit'">
        <template v-slot:label>* 幣別</template>
      </input-select>
    </div>
    <div class="input-select">
      <input-select :type="'text'" :size="'medium'" :disable="mode === 'edit'">
        <template v-slot:label>* 預設語系</template>
      </input-select>
    </div>
    <div class="input-select">
      <input-select
        :value="permissionsValue"
        :size="'medium'"
        :disable="mode === 'edit'"
      >
        <template v-slot:label>* 權限</template>
      </input-select>
    </div>
    <div class="input-text">
      <input-text :type="'text'" :size="'medium'" :disable="mode === 'edit'">
        <template v-slot:label>允許IP</template>
      </input-text>
    </div>
  </div>
</template>
<script>
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'hall-sub-detail',

  props: {
    mode: {
      type: String,
      default: '',
    },
  },
  setup() {
    const statusValue = ref([
      { value: 'option1', label: '啟用' },
      { value: 'option2', label: '停用' },
    ])
    const permissionsValue = ref([
      { value: 'option1', label: '子帳號測試權限' },
      { value: 'option2', label: '測試用_站長子帳號' },
      { value: 'option3', label: 'b3adminEX' },
    ])

    return {
      statusValue,
      permissionsValue,
    }
  },
})
</script>

<style lang="scss" scoped>
.hall-sub-dialog {
  .confirm-button {
    display: flex;
    justify-content: flex-end;
  }

  .input-text {
    width: 100%;
  }
  ::v-deep .el-select {
    width: 100%;
  }
}
</style>
