<template>
  <div class="pagination">
    <el-pagination
      :total="total"
      :current-page="currentPage"
      layout="total, sizes, prev, pager, next, jumper"
      :page-sizes="[computedPageSize]"
      :page-size="computedPageSize"
    >
    </el-pagination>
  </div>
</template>

<script>
import { computed, defineComponent, ref } from 'vue'

export default defineComponent({
  props: {
    total: Number,
  },
  setup(props) {
    const currentPage = ref(1)

    const computedPageSize = computed(() => {
      const basePageSize = 50
      const pagesNeeded = Math.ceil(props.total / basePageSize)
      const dynamicPageSize =
        pagesNeeded > 1 ? Math.ceil(props.total / pagesNeeded) : basePageSize
      return dynamicPageSize
    })

    return {
      currentPage,
      computedPageSize,
    }
  },
})
</script>

<style lang="scss">
.pagination {
  margin: 20px 0 0 10px;
}
</style>
