<template>
  <div class="header-bar">
    <div class="header-bar-top">
      <div class="header-bar-left">
        <statistic-panel />
      </div>
      <div class="header-bar-right">
        <date-panel />
        <lang-switch />
      </div>
    </div>
    <div class="header-bar-content">
      <div class="header-bar-left">
        <div
          @click="toggleMenu"
          :class="{ 'is-minor': isExpand }"
          class="menu-switch"
        ></div>
      </div>
      <div class="header-bar-right">
        <CustomerPanel />
        <MailPanel />
        <AudioPanel />
        <UserPanel />
      </div>
    </div>
  </div>
</template>
<script>
import { defineComponent } from 'vue'
import { StatisticPanel, DatePanel, LangSwitch } from './header-bar-top'
import {
  CustomerPanel,
  MailPanel,
  AudioPanel,
  UserPanel,
} from './header-bar-content'

export default defineComponent({
  name: 'MainLayout',
  components: {
    StatisticPanel,
    DatePanel,
    LangSwitch,
    CustomerPanel,
    MailPanel,
    AudioPanel,
    UserPanel,
  },
  props: {
    isExpand: {
      type: Boolean,
      required: true,
    },
  },
  emits: ['toggleMenu'],
  setup(props, { emit }) {
    const toggleMenu = () => {
      const value = !props.isExpand
      emit('toggleMenu', value)
    }

    return {
      toggleMenu,
    }
  },
})
</script>
<style lang="scss" scoped>
.header-bar {
  height: 100%;
}

.header-bar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  background-color: #f2f6fc;
}

.header-bar-left,
.header-bar-right {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-bar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  > * {
    margin: 0 10px;
  }
}

.header-bar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  color: #409eff;
  background-color: #fff;
}

.menu-switch {
  margin: 0;
  margin-right: 12px;
  width: 19px;
  height: 17px;
  cursor: pointer;
  transition: transform 0.1s linear;
  transform: rotate(0deg);

  &::before {
    display: inline-block;
    width: 19px;
    height: 17px;
    background: url('images/toggleMenu.svg') no-repeat center center;
    content: '';
  }
}

.is-minor {
  transform: rotate(180deg);
}
</style>
