<template>
  <div class="date-panel">
    <el-dropdown trigger="click" @command="changeTimezone">
      <div class="date">
        <div class="date-text" @click="toggleCollapse">
          {{ formattedTime }}
          <i
            :class="isCollapse ? 'el-icon-arrow-up' : 'el-icon-arrow-down'"
          ></i>
        </div>
      </div>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item command="Asia/Shanghai">北京時間</el-dropdown-item>
        <el-dropdown-item command="America/New_York">美東時間</el-dropdown-item>
        <el-dropdown-item command="America/Los_Angeles"
          >北美時間</el-dropdown-item
        >
        <el-dropdown-item command="Asia/Ho_Chi_Minh">越南時間</el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>

    <div class="date">
      <div class="date-text"></div>
    </div>
  </div>
</template>

<script>
import { defineComponent, ref, computed, onMounted } from 'vue'

export default defineComponent({
  setup() {
    const isCollapse = ref(false)
    const currentTimezone = ref('Asia/Shanghai')
    const now = ref(new Date())

    const toggleCollapse = () => {
      isCollapse.value = !isCollapse.value
    }

    const formattedTime = computed(() => {
      return now.value.toLocaleString('zh-TW', {
        timeZone: currentTimezone.value,
      })
    })

    const changeTimezone = (timezone) => {
      currentTimezone.value = timezone
    }

    const updateTime = () => {
      now.value = new Date()
    }

    onMounted(() => {
      setInterval(updateTime, 1000)
    })

    return {
      isCollapse,
      formattedTime,
      toggleCollapse,
      changeTimezone,
    }
  },
})
</script>
