<template>
  <div class="lang-switch">
    <el-dropdown trigger="click">
      <div :class="['render lang-flag', defaultLanguage.languageTag]"></div>
      <el-dropdown-menu slot="dropdown">
        <div
          v-for="item in languageList"
          :key="item.label"
          @click="selectLanguage(item)"
        >
          <el-dropdown-item
            ><div :class="['lang-flag', item.languageTag]"></div>
            <span class="flag-name">{{ item.label }}</span></el-dropdown-item
          >
        </div>
      </el-dropdown-menu>
    </el-dropdown>
  </div>
</template>

<script>
import { defineComponent, ref } from 'vue'

export default defineComponent({
  setup() {
    const languageList = ref([
      { languageTag: 'zh-tw', label: '繁體中文' },
      { languageTag: 'zh-cn', label: '简体中文' },
      { languageTag: 'vi-vn', label: 'Tiếng Việt' },
    ])

    const defaultLanguage = ref(languageList.value[0])

    const selectLanguage = (language) => {
      defaultLanguage.value = language
    }

    return {
      languageList,
      defaultLanguage,
      selectLanguage,
    }
  },
})
</script>

<style lang="scss" scoped>
.lang-switch {
  display: flex;
}

.el-dropdown-menu__item {
  display: flex;
  align-items: center;
}

.lang-flag {
  &.render {
    margin-left: 22px;
  }

  width: 16px;
  height: 16px;
  background-position: center center;
  background-repeat: no-repeat;
}

.flag-name {
  margin-left: 8px;
}

$flag: zh-cn, vi-vn, zh-tw;

@each $icon in $flag {
  .#{$icon} {
    background-image: url('images/#{$icon}.svg');
  }
}
</style>
