<template>
  <div class="statistic">
    <div class="statistic-item">
      <div class="circle circle-online"></div>
      <span>在線人數：0 人</span>
    </div>
    <div class="statistic-item">
      <div class="circle circle-deposit"></div>
      <span>入款申請：0 筆</span>
    </div>
    <div class="statistic-item">
      <div class="circle circle-withdraw"></div>
      <span>出款申請：0 筆</span>
    </div>
    <div class="statistic-item">
      <div class="circle circle-identity"></div>
      <span>身份驗證：0 筆</span>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.statistic {
  display: inline-flex;
  font-size: 12px;
}
.statistic-item {
  padding-right: 20px;
}
.circle {
  display: inline-flex;
  margin: auto 8px auto 0;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}
.circle-online {
  background-color: #52c41a;
}

.circle-deposit {
  background-color: #ff9800;
}

.circle-withdraw {
  background-color: #f00;
}

.circle-identity {
  background-color: #feff00;
}
</style>
