<template>
  <div class="audio-panel">
    <div class="audio-icon" @click="toggleMute">
      <div :class="{ mute: isMuted, sound: !isMuted }"></div>
      <audio autoplay></audio>
    </div>
  </div>
</template>

<script>
import { defineComponent, ref } from 'vue'

export default defineComponent({
  setup() {
    const isMuted = ref(false)

    const toggleMute = () => {
      isMuted.value = !isMuted.value
    }

    return { isMuted, toggleMute }
  },
})
</script>

<style lang="scss" scoped>
.audio-icon {
  cursor: pointer;
}

.mute {
  width: 21px;
  height: 16px;
  background: url('./images/mute.svg') no-repeat;
}

.sound {
  width: 21px;
  height: 16px;
  background: url('./images/sound.svg') no-repeat;
}
</style>
