<template>
  <div class="customer-panel">
    <img
      class="customer"
      src="./images/customer-service.svg"
      alt="Customer Service Icon"
    />
  </div>
</template>
<style lang="scss" scoped>
.customer {
  font-size: 1.6rem;
  cursor: pointer;
}
</style>
