<template>
  <div class="mail-panel">
    <!-- 未讀公告彈出框 -->
    <i class="mail el-icon-message" v-popover="'mail'" size="large">
      <div class="dot" v-show="isVisible.redDot"></div>
    </i>

    <!-- 讀取按鈕 -->
    <el-popover
      @hide="handleHide()"
      @show="announcementTooltip()"
      ref="mail"
      trigger="click"
      placement="bottom"
    >
      <div class="popover" v-loading="state.loading.popover !== 0">
        <!-- 已讀按鈕 -->
        <transition name="icon">
          <el-tooltip
            v-show="isVisible.readBtn"
            placement="bottom"
            effect="light"
          >
            <el-button
              class="read-icon"
              type="text"
              @click="clickReadBtn(checkedArray)"
            ></el-button>
          </el-tooltip>
        </transition>

        <div class="flexBox">
          <audio
            autoplay
            :mute="state.isMute"
            :src="state.audio.currentSrc"
            @ended="audioNext"
          />
          <el-table>
            <el-table-column
              label="系統公告"
              prop="title"
              min-width="180"
              key="title"
            >
              <template slot-scope="scope">
                <el-tooltip
                  v-if="tooltipVisible[scope.row.id]"
                  placement="left"
                  effect="light"
                >
                  <div slot="content" class="tooltip">
                    {{ scope.row.title }}
                  </div>
                  <div class="title" type="text" :ref="scope.row.id">
                    {{ scope.row.title }}
                  </div>
                </el-tooltip>
                <div v-else class="title" type="text" :ref="scope.row.id">
                  {{ scope.row.title }}
                </div>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
    </el-popover>
    <!-- 系統公告詳細內容 -->
    <!-- <el-dialog
      :visible.sync="state.isOpenDialog"
      :before-close="handleCloseDialog"
    >
      <div v-loading="state.loading.dialog !== 0">
        <h1></h1>
        <p></p>
      </div>
    </el-dialog> -->
  </div>
</template>

<script>
import { defineComponent, ref, reactive, computed, watch, nextTick } from 'vue'

export default defineComponent({
  setup() {
    const state = reactive({
      announceList: [],
      transferList: [],
      checkItems: [],
      checkTransferItem: [],
      loading: {
        popover: 0,
        dialog: 0,
      },
      dialogData: {},
      isOpenDialog: false,
      isMute: true,
      audio: {
        currentSrc: null,
        srcs: [],
      },

      // 提示框
      tooltipVisible: {},
    })

    const _deepCopy = (value, cache = new WeakMap()) => {
      const representingType = Object.prototype.toString.call(value)
      if (
        representingType !== '[object Object]' &&
        representingType !== '[object Array]'
      )
        return value

      if (cache.has(value)) return cache.get(value)

      const clone = representingType === '[object Object]' ? {} : []
      cache.set(value, clone)

      Object.keys(value).forEach((key) => {
        clone[key] = deepCopy(value[key], cache)
      })

      return clone
    }

    const deepCopy = (value) => _deepCopy(value, new WeakMap())

    // 取得公告詳細內容
    // const getAnnounceDetail = async () => {
    //   async(id)才對，先刪除不然會跳異常
    //   state.loading.dialog++

    //   state.isOpenDialog = true
    //   state.dialogData = await toGetHomeAnnouncementData(id)
    //   await signRead(id)

    //   state.loading.dialog--
    // }

    // 關閉詳情
    const handleCloseDialog = () => {
      state.dialogData = { title: '', content: '' }
      state.isOpenDialog = false
    }

    const handleHide = () => {
      state.checkItems = []
      state.checkTransferItem = []
    }

    const audioNext = () => {
      if (state.isMute || state.audio.srcs.length === 0) {
        state.audio.currentSrc = null
      } else {
        state.audio.currentSrc = state.audio.srcs.shift()
      }
    }

    const isVisible = computed(() => ({
      readBtn: state.checkItems.length > 0,
      readTransferBtn: state.checkTransferItem.length > 0,
      redDot: state.announceList.length > 0 || state.transferList.length > 0,
    }))

    const checkedArray = computed(() => {
      const result = deepCopy(state.checkItems)
      return result.map((item) => item.id)
    })

    const announcementTooltip = async () => {
      await nextTick()
      const refsId = Object.keys(state.tooltipVisible)
      let wrapperWidth
      let textWidth

      if (refsId.length > 0) {
        for (const id of refsId) {
          const elementRef = ref(null)
          wrapperWidth = elementRef.value.clientWidth
          textWidth = elementRef.value.scrollWidth
          state.tooltipVisible[id] = textWidth > wrapperWidth
        }
      }
    }

    // 標示為已讀按鈕
    const clickReadBtn = async () => {
      state.loading.popover++
      // await signRead(checkedArray)
      state.loading.popover--
    }

    watch(
      () => state.announceList,
      async (newAnnounceList) => {
        if (newAnnounceList.length > 0) {
          const tooltip = newAnnounceList.reduce((tooltip, item) => {
            tooltip[item.id] = false
            return tooltip
          }, {})
          state.tooltipVisible = tooltip
          await announcementTooltip()
        }
      },
      { deep: true }
    )
    return {
      state,
      isVisible,
      checkedArray,
      // getAnnounceDetail,
      handleCloseDialog,
      handleHide,
      audioNext,
      announcementTooltip,
      clickReadBtn,
    }
  },
})
</script>

<style lang="scss" scoped>
@keyframes twinkling {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.mail {
  position: relative;
  top: 0.6px;
  padding: 0;
  font-size: 1.6rem;
  font-weight: normal;
  cursor: pointer;
}

.dot {
  position: absolute;
  top: -2px;
  left: 16px;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 100px;
  opacity: 1;
  animation: twinkling 2s infinite;
}

.popover {
  position: relative;
}

.read-icon {
  position: absolute;
  top: 13px;
  left: 126px;
  z-index: 1;
  width: 20px;
  height: auto;
  background: url(./images/read.svg);
}

.icon-enter,
.icon-leave-to {
  opacity: 0;
}

.icon-leave-active,
.icon-enter-active {
  transition: opacity 0.2s;
}

.flexBox {
  display: flex;
}

.tooltip {
  max-width: 300px;
  word-wrap: break-word;
}

.title {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
</style>
