<template>
  <div class="user-panel">
    <el-dropdown trigger="click">
      <div class="user">
        <img class="user-avatar" src="./images/member.svg" />
      </div>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item>
          <span class="user-role">站長：b3admin</span></el-dropdown-item
        >
        <el-dropdown-item>
          <i class="icon icon-change"></i><span class="text">變更密碼</span>
        </el-dropdown-item>
        <el-dropdown-item>
          <div @click="handleLogout">
            <i class="icon icon-logout"></i><span class="text">登出</span>
          </div>
        </el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import { useRouter } from '@/use/useRouter'

export default defineComponent({
  setup() {
    const { router } = useRouter()

    const handleLogout = () => {
      localStorage.clear()
      router.replace('/login')
    }

    return {
      handleLogout,
    }
  },
})
</script>

<style lang="scss" scoped>
.el-dropdown-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.icon {
  display: inline-block;
  margin-right: 8px;
  background-position: center center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.text {
  display: inline-block;
}

.icon-change {
  background: url('./images/edit.svg') no-repeat center center;
}

.icon-logout {
  background: url('./images/login.svg') no-repeat center center;
}
</style>
