<template>
  <el-container class="layout">
    <el-aside class="layout-aside" :class="{ 'aside-zoom': !data.isExpand }">
      <aside-menu
        :isExpand="data.isExpand"
        @toggleMenu="toggleIsExpand"
        @routerLinkClick="handleRouterLinkClick"
      />
    </el-aside>
    <el-container
      class="layout-container"
      :class="{ 'menu-zoom': !data.isExpand }"
    >
      <el-header class="layout-container-header">
        <header-bar :isExpand="data.isExpand" @toggleMenu="toggleIsExpand" />
      </el-header>
      <el-main class="layout-container-main">
        <page-tabs
          :isExpand="data.isExpand"
          :selectedTab="data.selectedTab"
          @close-tab="handleCloseTab"
        />
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
import { defineComponent, ref } from 'vue'
import { AsideMenu, HeaderBar, PageTabs } from './components'
import { useRouter } from '@/use/useRouter'

export default defineComponent({
  name: 'MainLayout',
  components: {
    AsideMenu,
    HeaderBar,
    PageTabs,
  },
  setup() {
    const { router } = useRouter()

    const data = ref({
      isExpand: true,
      selectedTab: {},
    })

    const toggleIsExpand = (value) => {
      data.value.isExpand = value
    }

    const handleRouterLinkClick = (value) => {
      data.value.selectedTab = value
    }

    const handleCloseTab = () => {
      data.value.selectedTab = {}
      router.push('/')
    }

    return {
      data,
      toggleIsExpand,
      handleRouterLinkClick,
      handleCloseTab,
    }
  },
})
</script>

<style lang="scss" scoped>
.layout-container {
  height: 100vh;
}

.layout-container-header {
  height: 80px !important;
  padding: 0 !important;
}

.layout-container-main {
  height: 100vh;
  background-color: #e4e7ed;

  &::-webkit-scrollbar {
    display: none;
  }

  > div:nth-child(1) {
    padding: 1.15rem;
    min-height: calc(100vh - 7.5rem);
    background-color: #fff;
  }
}

.aside-zoom {
  margin-right: -160px;
}
.header-bar,
.page-tabs {
  transition: margin-left 0.3s ease;
}

.menu-zoom {
  margin-left: -80px;
}
</style>
