<template>
  <div class="hall-sub">
    <hall-sub-search-block @search-completed="handleSearchCompleted" />
    <el-divider />
    <hall-sub-list :search-results="searchResults" />
  </div>
</template>

<script>
import { defineComponent, ref } from 'vue'
import HallSubSearchBlock from './components/HallSubSearchBlock.vue'
import HallSubList from './components/HallSubList.vue'

export default defineComponent({
  name: 'hall-sub',
  components: {
    HallSubSearchBlock,
    HallSubList,
  },
  setup() {
    const searchResults = ref([])

    const handleSearchCompleted = (results) => {
      searchResults.value = results
    }

    return {
      searchResults,
      handleSearchCompleted,
    }
  },
})
</script>
